name: "CI"
on:
  push:
  pull_request:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: cachix/install-nix-action@v30
      with:
        # DESIGN: matching current in NixOS 24.11
        install_url: https://releases.nixos.org/nix/nix-2.24.12/install
    - uses: cachix/cachix-action@v15
      with:
        name: shajra
        signingKey: '${{ secrets.CACHIX_SIGNING_KEY }}'
    - uses: DeterminateSystems/flakehub-cache-action@main
    - run: cat /etc/nix/nix.conf
    - run: cat ~/.config/nix/nix.conf
    - run: nix --print-build-logs flake check --verbose
