name: "CI"
on:
  push:
  pull_request:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: cachix/install-nix-action@v31.5.1
      with:
        # DESIGN: matching current in NixOS 25.05
        install_url: https://releases.nixos.org/nix/nix-2.28.3/install
    - uses: cachix/cachix-action@v16
      with:
        name: shajra
        signingKey: '${{ secrets.CACHIX_SIGNING_KEY }}'
    - uses: DeterminateSystems/flakehub-cache-action@main
    - run: cat /etc/nix/nix.conf
    - run: cat ~/.config/nix/nix.conf
    # DESIGN: Kaleidoscope started using `bwrap` in a way requiring privileges
    # https://github.com/DevToys-app/DevToys/issues/1198#issuecomment-2599819266
    - run: sudo sysctl -w kernel.apparmor_restrict_unprivileged_unconfined=0
    - run: sudo sysctl -w kernel.apparmor_restrict_unprivileged_userns=0
    - run: nix --print-build-logs flake check --verbose
